    .block__list_tags {
      padding-left: 30px;
    }

    .block__list_tags:after {
      clear: both;
      content: '';
      display: block;
    }
    .block__list_tags li {
      color: #fff;
      float: left;
      margin: 8px 20px 10px 0;
      padding: 5px 10px;
      min-width: 10px;
      /*background-color: #5F9EDF;*/
      text-align: center;
    }
    .block__list_tags li:first-child:first-letter {
      text-transform: uppercase;
    }
    .block__list {
      padding: 20px 0;
      max-width: inherit;
      margin-top: -8px;
      margin-left: 5px;
      background-color: #fff;
    }
    .block__list li { cursor: move; }